@CHARSET "UTF-8";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1em;
  /*height:auto;*/
}

body {
  font-family: Arial, "Hiragino Sans GB", "冬青黑", "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", Helvetica, Tahoma, Arial sans-serif;

  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  position: relative;
  font-size: 14px;
  line-height: 1.42857143;
  /* color: #888;*/
  margin: 0;
  padding: 0;
  background: #101010
}

button, select, input, textarea {
  font-family: Microsoft YaHei, STHeiti, Arial, Helvetica;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  out-line: none;
  /*color: #888;*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

.clearfix {
  display: inline-block;
}

.clearfix::after {
  display: block;
  content: ".";
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

.before::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  cursor:pointer;
}


